*{
  /* transition: all .8s ease; */
}

/* body{
  background: papayawhip;
  color: palevioletred;
} */
.tomato{
  color: tomato;
}
.bg-tomato{
  background: tomato;
}

#profile-pic{
  width: 75px;
  border-radius: 100px;
}

#title{
  color: var(--blue7);
}

#topSection{
  max-width: 600px;
}

.tag{
  /* background: blue; */
  color: white;
  display: inline-block;
  padding: 7px 10px 7px 10px;
  border-radius: 3px;
  font-size: 10px;
  margin-top:20px;
}


p.tag:not([first]){
  margin-left: 6px;
}

